.App {

}

.App .app-bar{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}



/* Safari 4.0 - 8.0 */
@-webkit-keyframes welcome {
  0% {background-color: white;}
  50% {background-color: grey;}
  100% {background-color: white;}
}

@keyframes welcome{
  0% {background-color: white;}
  50% {background-color: grey;}
  100% {background-color: white;}
}
